<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rankmystore">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity android:name=".Profile"
            android:exported="true"></activity>
        <activity android:name=".Gallery"
            android:exported="true"></activity>
        <activity android:name=".Review"
            android:exported="true"></activity>
        <activity android:name=".login"
            android:exported="true"></activity>
        <activity android:name=".register"
            android:exported="true"></activity>
        <activity android:name=".Stores"></activity>
        <activity android:name=".Edit_Profile"></activity>
        <activity android:name=".AddProfileImage"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>